[submodule "nix/.config/nvim"]
	path = nix/.config/nvim
	url = https://github.com/sholt0r/nvim
[submodule "nix/.config/nix"]
	path = nix/.config/nix
	url = https://github.com/sholt0r/nix
[submodule "linux/.config/nvim"]
	path = linux/.config/nvim
	url = https://github.com/sholt0r/nvim
[submodule "linux/.config/fish"]
	path = linux/.config/fish
	url = https://github.com/sholt0r/fish
  branch = linux
[submodule "mac/.config/nvim"]
	path = mac/.config/nvim
	url = https://github.com/sholt0r/nvim
[submodule "mac/.config/fish"]
	path = mac/.config/fish
	url = https://github.com/sholt0r/fish
  branch = mac
